[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
itsdangerous = "==1.1.0"
mako = "==1.0.7"
python-dateutil = "==2.8.0"
python-dotenv = "==0.10.1"
python-editor = "==1.0.4"
Flask = "==1.0.2"
Flask-Migrate = "==2.4.0"
Flask-SQLAlchemy = "==2.3.2"
Jinja2 = "==2.10"
MarkupSafe = "==1.1.1"
Werkzeug = "==0.14.1"
pymongo = "*"
black = "*"
uwsgi = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
